<main class="build-page">
    <div class="build-card">

        <div class="row logo">
            <div class="col">
                <img src="../../../../assets/images/Programme ACP.png" style="width: 20rem;" alt="sgd">
            </div>
        </div>

        <div class="icon">
            ⚙️
        </div>

        <h1>Page en construction</h1>

        <p class="subtitle">
            Cette fonctionnalité fait actuellement l’objet d’un développement actif.
        </p>

        <p class="description">
            Nous travaillons à la mise en place de cet espace afin d’améliorer le suivi,
            l’analyse et l’évaluation des activités.
            Merci pour votre patience.
        </p>

        <div class="progress-wrapper">
            <div class="progress-bar">
                <span></span>
            </div>
            <small>Déploiement en cours…</small>
        </div>

        <button class="back-btn" onclick="history.back()">
            ← Retour
        </button>

    </div>
</main>