@if (currentUser) {
<div class="container pt-5">

  <div class="card">
    <div class="card-header">
      Profil
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ currentUser.username }}</h5>
      <p class="card-text">
        <strong>Email:</strong>
        {{ currentUser.email }}
      </p>
      <strong>Roles:</strong>
      <ul>
        @for (role of currentUser.roles; track role) {
        <li>{{ role }}</li>
        }
      </ul>
    </div>
  </div>
</div>
} @else {
<p>Please login.</p>
}