<div class="container">

    <button type="button" class="btn btn-primary" onclick="history.back()">
        ← Retour
    </button>
     <div class="row">
        @if (isAdmin) {
        <div class="col-12 col-md-2 p-3 align-self-center">
            <button class="addCons btn btn-success" (click)="NewCompany()"> Ajouter une Entreprise</button>
        </div>
        }
    </div>

    <div class="row">
        @if(companies$ | async; as data){
        @for (item of data; track $index) {

        <!-- <div class="col">
            <div class="card">
                <div class="row g-0 align-items-center">
                    <div class="col-md-4">
                        <img [src]="'../../../../assets/images/'+item.logo" class="img-fluid rounded-start"
                            style="border-radius: 0!important;" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> {{item.name}} </h5>
                            <p class="card-text">Rérion {{item.region}} Situè à {{item.ville}}, {{item.description}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="col-sm-6">
            <div class="card m-2 shadow p-3 mb-5 bg-body rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img [src]="'../../../../assets/images/'+item.logo" class="img-fluid rounded-start"
                                style="border-radius: 0!important;" alt="...">
                        </div>
                        <div class="col-md-8">
                            <h5 class="card-title"> {{item.name}} </h5>
                            <p class="card-text">Rérion {{item.region}} Situè à {{item.ville}}, {{item.description}}
                            </p>

                            <div class="row justify-content-between">
                                <div class="col-4"></div>
                                <div class="col-7">
                                    <button class="btn btn-primary btn-sm" [routerLink]="['/manager/company', item.id]">Détails de l'entreprise</button>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="prog mt-3 mb-1">
                                Progression des livrables
                            </p>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 5%;"
                                    aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">5%</div>
                            </div>
                            <div class="librable">

                            </div>
                            <div class="row justify-content-between mt-2 mb-3">
                                <div class="col-6">
                                    <strong>Nombr de livrable : </strong> 1
                                </div>
                                <div class="col-4">
                                    <button type="button" class="btn btn-warning btn-sm" routerLink="/build" >Voir les livrables</button>
                                </div>
                            </div>
                    
                            <div class="row">

                                <div class="col align-self-end domi">
                                    Minéraux de Développement <i class="bi bi-minecart-loaded"
                                        style="font-size: 1rem; color: rgb(221, 80, 37);"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        }
    </div>
</div>