<header class="jumbotron">
    <p>{{ content }}</p>
</header>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
            role="tab" aria-controls="nav-home" aria-selected="true">Consultant</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
            role="tab" aria-controls="nav-profile" aria-selected="false">Entreprises</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="row justify-content-end">
            <button class="addCons btn btn-primary" routerLink="/register"> Ajouter un Profil</button>
        </div>
        <div class="row">
            <div class="card m-2 col shadow p-3 mb-5 bg-body rounded">
                <img src="../../../../assets/images/user1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">FONDA Jalil</h5>
                    <p class="card-text">
                        Ingénieur des mines spécialisé dans l'accompagnement des artisants miniers.
                    </p>
                    <a routerLink="manOneConsult" class="btn btn-primary">Voir les travaux</a>
                </div>
                <div class="card-footer text-muted text-center">
                    Minéraux de Développement <i class="bi bi-minecart-loaded"
                        style="font-size: 2rem; color: rgb(221, 80, 37);"></i>
                </div>
            </div>
            <div class="card m-2 col shadow p-3 mb-5 bg-body rounded">
                <img src="../../../../assets/images/user2.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nawfal NJOUPOUE</h5>
                    <p class="card-text">Ingénieur agronome spécialisé en Economie et sociologie rurale.</p>
                    <a routerLink="manOneConsult" class="btn btn-primary">Voir les travaux</a>
                </div>
                <div class="card-footer text-muted text-center">
                    Minéraux de Développement <i class="bi bi-minecart-loaded"
                        style="font-size: 2rem; color: rgb(221, 80, 37);"></i>
                </div>
            </div>
            <div class="card m-2 col shadow p-3 mb-5 bg-body rounded">
                <img src="../../../../assets/images/user3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cendrine Elouga</h5>
                    <p class="card-text">Expert en entreprenariat et accompagnement des Star-up.</p>
                    <a routerLink="manOneConsult" class="btn btn-primary">Voir les travaux</a>
                </div>
                <div class="card-footer text-muted text-center">
                    AgriBusiness <i class="bi bi-leaf-fill" style="font-size: 2rem; color: rgb(56, 209, 72);"></i>
                </div>
            </div>
            <div class="card m-2 col shadow p-3 mb-5 bg-body rounded">
                <img src="../../../../assets/images/user4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">William Daouada</h5>
                    <p class="card-text">Economiste et expert en analyse et suivie financier.</p>
                    <a routerLink="manOneConsult" class="btn btn-primary">Voir les travaux</a>
                </div>
                <div class="card-footer text-muted text-center">
                    AgriBusiness <i class="bi bi-leaf-fill" style="font-size: 2rem; color: rgb(56, 209, 72);"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="row">
            <div class="col-sm-6">
                <div class="card m-2 shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <h5 class="card-title">TRALORMAT</h5>
                        <p class="card-text">Situè à Yaoundé, cette entreprise est spécialisée dans la production de
                            Carreaux en
                            matériaux locaux.</p>
                        <p class="prog">
                            Progression des livrables
                        </p>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 25%;"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                        <p class="prog pt-2">
                            <strong>Nombr de livrable : </strong> 2/5
                        </p>
                        <div class="row">
                            <div class="col"><a routerLink="manOneCompany" class="btn btn-primary mt-4">Détails de
                                    l'entreprise</a></div>
                            <div class="col align-self-end domi">
                                Minéraux de Développement <i class="bi bi-minecart-loaded"
                                    style="font-size: 2rem; color: rgb(221, 80, 37);"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card m-2 shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <h5 class="card-title">CHIPSCAM</h5>
                        <p class="card-text">Situè à Bertoua, cette entreprise est spécialisée dans la production de
                            chips de plantain.</p>
                        <p class="prog">
                            Progression des livrables
                        </p>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 60%;"
                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                        </div>
                        <p class="prog pt-2">
                            <strong>Nombr de livrable : </strong> 2/5
                        </p>
                        <div class="row">
                            <div class="col"><a routerLink="manOneCompany" class="btn btn-primary mt-4">Détails de
                                    l'entreprise</a></div>
                            <div class="col domi">
                                AgriBusiness <i class="bi bi-leaf-fill"
                                    style="font-size: 2rem; color: rgb(56, 209, 72);"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="card m-2 shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <h5 class="card-title">FRUITCAM</h5>
                        <p class="card-text">Situè à Yaoundé, cette entreprise est spécialisée dans la production de jus
                            de fruit.</p>
                        <p class="prog">
                            Progression des livrables
                        </p>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 95%;"
                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                        <p class="prog pt-2">
                            <strong>Nombr de livrable : </strong> 2/5
                        </p>
                        <div class="row">
                            <div class="col"><a routerLink="manOneCompany" class="btn btn-primary mt-4">Détails de
                                    l'entreprise</a></div>
                            <div class="col domi">
                                AgriBusiness <i class="bi bi-leaf-fill"
                                    style="font-size: 2rem; color: rgb(56, 209, 72);"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="card m-2 shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <h5 class="card-title">CHAMPIGNONCAM</h5>
                        <p class="card-text">Situè à Yaoundé, cette entreprise est spécialisée dans la production de
                            champignon.</p>
                        <p class="prog">
                            Progression des livrables
                        </p>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 20%;"
                                aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">20%</div>
                        </div>
                        <p class="prog pt-2">
                            <strong>Nombr de livrable : </strong> 2/5
                        </p>
                        <div class="row">
                            <div class="col"><a routerLink="manOneCompany" class="btn btn-primary mt-4">Détails de
                                    l'entreprise</a></div>
                            <div class="col domi">
                                AgriBusiness <i class="bi bi-leaf-fill"
                                    style="font-size: 2rem; color: rgb(56, 209, 72);"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="card m-2 shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <h5 class="card-title">GEOCUBER</h5>
                        <p class="card-text">Situè à Obala, cette entreprise est spécialisée dans la production de
                            brique de terre stabilisé.</p>
                        <p class="prog">
                            Progression des livrables
                        </p>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 15%;"
                                aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">15%</div>
                        </div>
                        <p class="prog pt-2">
                            <strong>Nombr de livrable : </strong> 2/5
                        </p>
                        <div class="row">
                            <div class="col"><a routerLink="manOneCompany" class="btn btn-primary mt-4">Détails de
                                    l'entreprise</a></div>
                            <div class="col domi">
                                Minéraux de Développement <i class="bi bi-minecart-loaded"
                                    style="font-size: 2rem; color: rgb(221, 80, 37);"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="card m-2 shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <h5 class="card-title">PROMPT SARL</h5>
                        <p class="card-text">Situè à Garoua, cette entreprise est spécialisée dans la production
                            et la vente de marbre décoratif.</p>
                        <p class="prog">
                            Progression des livrables
                        </p>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 45%;"
                                aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                        </div>
                        <p class="prog pt-2">
                            <strong>Nombr de livrable : </strong> 2/5
                        </p>
                        <div class="row">
                            <div class="col"><a routerLink="manOneCompany" class="btn btn-primary mt-4">Détails de
                                    l'entreprise</a></div>
                            <div class="col domi">
                                Minéraux de Développement <i class="bi bi-minecart-loaded"
                                    style="font-size: 2rem; color: rgb(221, 80, 37);"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card m-2 shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <h5 class="card-title">POISSONCAM</h5>
                        <p class="card-text">Situè à Foumbot, cette entreprise est spécialisée dans la production et la
                            commercialisation de
                            carpes et silures fraiches et fumées.</p>
                        <p class="prog">
                            Progression des livrables
                        </p>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 35%;"
                                aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
                        </div>
                        <p class="prog pt-2">
                            <strong>Nombr de livrable : </strong> 2/5
                        </p>
                        <div class="row">
                            <div class="col"><a routerLink="manOneCompany" class="btn btn-primary mt-4">Détails de
                                    l'entreprise</a></div>
                            <div class="col domi">
                                AgriBusiness <i class="bi bi-leaf-fill"
                                    style="font-size: 2rem; color: rgb(56, 209, 72);"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="card m-2 shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <h5 class="card-title">Le Poulet de Leila</h5>
                        <p class="card-text">Situè à Obala, cette entreprise est spécialisée dans la production de
                            brique de terre stabilisé.</p>
                        <p class="prog">
                            Progression des livrables
                        </p>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 95%;"
                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                        <p class="prog pt-2">
                            <strong>Nombr de livrable : </strong> 2/5
                        </p>
                        <div class="row">
                            <div class="col"><a routerLink="manOneCompany" class="btn btn-primary mt-4">Détails de
                                    l'entreprise</a></div>
                            <div class="col domi">
                                AgriBusiness <i class="bi bi-leaf-fill"
                                    style="font-size: 2rem; color: rgb(56, 209, 72);"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>