<div class="containers">
    <div class="row">
        <div class="col-9">
            <div class="row pt-3">
                <div class="col">
                    <h2 class="card-title">Entreprise TRALORMAT</h2>
                    <p class="card-text">Situè à Yaoundé, cette entreprise est spécialisée dans la production de
                        Carreaux en
                        matériaux locaux</p>
                </div>
                <div class="col-4">
                    <img src="../../../../assets/images/relation7.jpeg" class="rounded float-end"
                        style="width: -webkit-fill-available;" alt="">
                </div>
            </div>
            <hr class="text-muted">
            <hr class="text-muted">
            <!-- <div class="container">
                <div class="row justify-content-between">
                    <div class="col-6">
                        <div class="card">
                            <div class="contente">
                                <div style="display: block;" class="chart" chartType="bar">
                                    <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="barChartType"
                                        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="contente">
                                <div style="display: block;" class="chart" chartType="radar">
                                    <canvas baseChart [data]="radarChartData" [options]="radarChartOptions"
                                        [type]="radarChartType">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-4">
                    <div class="card m-2">
                        <div class="illust">
                            <i class="bi bi-spellcheck"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Prédiagnostique</h5>
                            <div class="progress" style="height: 40px;">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%;"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card m-2">
                        <div class="illust">
                            <i class="bi bi-signpost-split-fill"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Offre & Demande</h5>
                            <div class="progress" style="height: 40px;">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 15%;"
                                    aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">15%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card m-2">
                        <div class="illust">
                            <i class="bi bi-grid-1x2-fill"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Modèle d'Affaires</h5>
                            <div class="progress" style="height: 40px;">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 10%;"
                                    aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">5%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card m-2">
                        <div class="illust">
                            <i class="bi bi-easel-fill"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Renforcement des capacités</h5>
                            <div class="progress" style="height: 40px;">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 10%;"
                                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card m-2">
                        <div class="illust">
                            <i class="bi bi-rocket-takeoff-fill"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Renforcement des activités</h5>
                            <div class="progress" style="height: 40px;">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 10%;"
                                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card m-2">
                        <div class="illust">
                            <i class="bi bi-repeat"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Promotion des relations d'affaires</h5>
                            <div class="progress" style="height: 40px;">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 10%;"
                                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="container">
                <div class="row pt-3">
                    <div class="col">
                        <div class="card" style="width: 20rem;">
                            <h5 class="card-header">Annonces</h5>
                            <div class="card-body">
                                <p class="card-text">
                                    Réunion ZOOM dans 3 jours
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="col">
                        <div class="card" style="width: 20rem;">
                            <h5 class="card-header">To-do List</h5>
                            <div class="card-body">
                                <div class="list-group pb-2">
                                    <label class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="">
                                        First checkbox
                                    </label>
                                    <label class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="">
                                        Second checkbox
                                    </label>
                                    <label class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="">
                                        Third checkbox
                                    </label>
                                    <label class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="">
                                        Fourth checkbox
                                    </label>
                                    <label class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="">
                                        Fifth checkbox
                                    </label>
                                </div>
                                <button type="button" class="btn btn-primary pt-2">Ajouter une tache</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="col">
                        <div class="card" style="width: 20rem;">
                            <h5 class="card-header">Réalisations Globale</h5>
                            <div class="card-body roo">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="progress blue">
                                                <span class="progress-left">
                                                    <span class="progress-bar"></span>
                                                </span>
                                                <span class="progress-right">
                                                    <span class="progress-bar"></span>
                                                </span>
                                                <div class="progress-value">30%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>