<!-- @if (menuVisible$ | async) {
    <app-header/>
}
@if (manMenuVisible$ | async) {
    <app-man-header/>
} -->
<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand mx-4"> <strong>SGD</strong>VC | UNDP </a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="home">Home </a>
      </li> -->
      @if (showAdminBoard) {
        <li class="nav-item">
          <a  class="nav-link" routerLink="manager">Admin Board</a>
        </li>
      }
      @if (showModeratorBoard) {
        <li class="nav-item">
          <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
        </li>
      }
      @if (showUserBoard) {
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="consultant">Consultant Board</a>
        </li> -->
        <li class="nav-item" style="cursor: pointer;" (click)="toggleSidebar()">
          <a class="nav-link" >Tools</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="consultant">Program</a>
        </li>
      }
    </ul>

    @if (!isLoggedIn) {
      <ul class="navbar-nav gogo">
        <!-- <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li> -->
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
    } @else {
      <ul class="navbar-nav gogo">
        <li class="nav-item">
          <a  class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    }
  </nav>

  <div class="container">
    <div id="wrapper" [ngClass]="{ 'toggled': isSidebarOpen, 'toggled-2': isSidebarMini }">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav flex-column" id="menu">
              @for (item of menu; track $index) {
                <li class="nav-item">
                    <a role="button" class="nav-link" (click)="item.children.length ? toggleSubmenu(item) : null">
                        <i class="licon" [ngClass]="item.icon" width="32"></i> {{ item.label }}
                        <span *ngIf="item.children.length" class="float-end">
                            <i class="bi" [ngClass]="item.expanded ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                        </span>
                    </a>
    
                    <ul class="submenu" [class.open]="item.expanded">
                      @for (child of item.children; track $index) {
                        <li class="nav-item" (click)="toggleSidebar()">
                            <a [routerLink]="['consultant/tool', child.route]" [queryParams]="{toolName: child.label}"
                                class="nav-link">
                                <i class="fa" [ngClass]="child"></i> {{ child.label }}
                            </a>
                        </li>
                      }
                    </ul>
                </li>
              }
            </ul>
        </div>
    
        <!-- Page Content -->
    
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
