h2,
h1 {
    text-align: center;
    font-size: xx-large;
}

.container{
    background-color: #a9a9a947;
}

.rounded-circle {
    align-self: anchor-center;
    margin-top: 1rem;
}

.profil {
    border-left: 3px solid rgb(154, 153, 153);
    // border-top: 3px solid rgb(154, 153, 153);
    padding-top: 1rem;
}

.navig {
    display: flex;
    flex-direction: row-reverse;
}

.company {
    .card-body:hover {
        cursor: pointer;
        color: white;
        background-color: rgb(42, 44, 70) !important;
    }
} 

h5{
    font-size: small;
}