.addCons{
    float: right;
    width: 300px !important;
    margin: 20px;
    float: right !important;
}

.prog{
    font-size: 0.7rem;
    margin-bottom: 3px;
}

.card{
    // width: 300px;
    text-align: center;
    img{
        height: 200px;
    }

    .domi{
        font-size: small;
        text-align: right;
    }
    .domini{
        font-size: small;
        text-align: center;
    }
}

.loki{
    .card {
        cursor: pointer;
        height: 15rem;
        color: #006eb5;
        background-color:#fff;
        border: 1px solid #5c5c5c ;
    }
    .card:hover{
        border: none;
        color: white;
        background-color:#006eb5;
        
    }
    
}