.addCons{
    float: right;
    width: 300px !important;
    margin: 20px;
    float: right !important;
}

.prog{
    font-size: 0.7rem;
    margin-bottom: 3px;
}

.card{
    width: 300px;
    img{
        height: 200px;
    }

    .domi{
        font-size: small;
        text-align: right;
    }
    .domini{
        font-size: small;
        text-align: center;
    }
}