<header class="jumbotron">
    <p>{{ content }}</p>
</header>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Welcom Manager</h2>
        </div>
    </div>
    <div class="row gy-4 justify-content-around">
        <div class="col loki">
            <div class="card p-3 cible-card">
                <div class="card-body" (click)="seeConsultants()">
                    <h5 class="card-title">Parcourir par consultant</h5>
                    <p class="card-text">Consultez les informations et livrables d'unu consultant en particulier</p>
                </div>
                <!-- <a routerLink="listconsult">
                </a> -->
            </div>
        </div>
        <div class="col loki">
            <div class="card p-3 cible-card">
                <div class="card-body" (click)="seeCompanies()">
                    <h5 class="card-title">Parcourir les Entreprises du programme</h5>
                    <p class="card-text">Consultez les informations et livrables d'une entreprise en particulier.</p>
                </div>
            </div>
        </div>
        <div class="col loki">
            <div class="card p-3 cible-card">
                <div class="card-body" (click)="seeGlobal()">
                    <h5 class="card-title">Observation Globale</h5>
                    <p class="card-text">Consultez les statistiques du programme.</p>
                </div>
            </div>
        </div>
    </div>
</div>