<div class="container">
    <div class="row">
        <h1>Dashboard</h1>
    </div>
    <div class="row">
        <div class="col-3 ">
            <div class="row">
                <div class="card my-2" >
                <div class="card-body">
                    <div class="col"> <strong>Valeur du Portefeuil Global :</strong> </div>
                    <div class="col">27 000 000 FCFA</div>
                </div>
                </div>
                
            </div>
            <div class="row">
                <div class="card my-2" >
                    <div class="card-body">
                        <div class="col"> <strong>Nombre d'heure de terrain :</strong> </div>
                        <div class="col">315h (13 jours et 3h) </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h2>Nombre d'employés impacté : 121</h2>
                    </div>
                    <div class="row">
                        <p class="prog">
                            <strong>Hommes : </strong> 85
                        </p>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 70%;" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                    </div>
                    <div class="row">
                        <p class="prog">
                            <strong>Femmes : </strong> 36
                        </p>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 30%;" aria-valuenow="30"
                                aria-valuemin="0" aria-valuemax="100">30%</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="row add py-6">
        <h1>Ajouter d'autres indicateurs ici</h1>
    </div>
</div>