// Compense header fixe (56px) + footer fixe (~44px)
#app {
  padding-top: 56px;
  padding-bottom: 44px;
  min-height: 100vh;
}

#wrapper {
   padding-left: 0;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
   overflow: hidden;
}

#wrapper.toggled {
   padding-left: 250px;
   overflow: hidden;
}

.no-margin {
  margin: 0;
}

.licon{
   position: relative;
   left: -20px;
}

#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
  overflow: hidden;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 350px;
}

#wrapper.toggled-2 #sidebar-wrapper {
  width: 50px;
}
#wrapper.toggled-2 #sidebar-wrapper:hover {
  width: 350px;
}

#page-content-wrapper {
  position: absolute;
  padding: 15px;
  width: 100%;
  overflow-x: hidden;
  transition: all 0.5s ease;
}

.xyz {
  min-width: 360px;
}

.submenu {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease;

  &.open {
    max-height: 500px; // assez grand pour contenir tes items
    opacity: 1;
  }
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 350px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2px;
}

.sidebar-nav li {
   padding-left: 25px;
  text-indent: 0px;
  line-height: normal;
}
.submenu li {
   padding-left: 15px;
  text-indent: 0px;
  line-height: normal;
//   line-height: 0px;
}

.dropstart .dropdown-menu{
  top: 30px;
}

.user{
  width: 2rem;
}

.badge{
  padding: .3em !important;
}

.notif{
  cursor: pointer;
}

.notif:hover{
  color: blue;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border-left: red 2px solid;
}

.gogo{
   margin-left: auto;
}
