<!-- home.component.html -->

<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div>

<div class="container-fluid min-vh-100 d-flex items-center">
    <div class="row w-100">
        <!-- Partie gauche : Contenu textuel et boutons -->
        <div class="col-lg-6 col-md-12 d-flex flex-col justify-center px-8 py-6">
            <div class="text-content mx-3">
                <div class="row logo">
                    <div class="col">
                        <img src="../../assets/images/sdg.webp" alt="sgd">
                    </div>
                    <div class="col">
                        <img src="../../assets/images/Programme ACP.png" style="width: 20rem;" alt="sgd">
                    </div>
                </div>
                <h1 class="display-4 fw-bold text-primary mb-4">SDG Value Chains Tools</h1>
                <h2 class="fs-3 text-secondary mb-6">Votre boîte à outils interactive</h2>
                <p class="lead mb-8">
                    Bienvenue dans la plate-forme de travail conçue pour accompagner le développement des chaines de
                    valeur
                    aligné avec les ODD/SDG.
                </p>

                <div class="d-flex flex-wrap gap-4">
                    <a routerLink="/login">
                        <!-- <p-button label="Consultant" icon="pi pi-user" /> -->
                        <button pButton pRipple type="button" label="Get Started" icon="pi pi-user"
                            class="p-button-primary p-button-lg">
                        </button>
                    </a>

                </div>
                <div class="by">
                    <p>By Jalil FONDA & Nawfal NJOUPOUE</p>
                </div>
                
            </div>
        </div>

        <!-- Partie droite : Image -->
        <div class="col-lg-6 col-md-12  d-lg-flex image-section p-0">
            <img src="../../assets/images/relation2.png" alt="Application interface"
                class="img-fluid h-100 w-100 object-fit-cover">
        </div>
    </div>
</div>